@(muumimukit: Seq[String], hinnat: Seq[String])



@main("Muumimukit") {
<h1>Here is the list of my favorites moomin cups and their prices</h1>
<table>
        <tr>
                <th>Muki</th>
                <th>Hinta</th>

        </tr>
        <tr>
                @for(muki <- muumimukit) {

                <td>@muki </td>
                }

        </tr>
        <tr>

        @for(hinta <- hinnat) {
        <td>@hinta €</td>
        }
        </tr>



</table>



<a href="@routes.HomeController.logout()">Logout</a>


}

